name: Deploy Docs

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install requirements
        run: pip install -e .[docs]

      - name: Deploy docs to branch
        run: |
          VERSION_NO_PATCH=$(head "src/scaffold/__version__.py" -n 1 | cut -d "'" -f 2 | cut -d "." -f -2)
          git fetch origin gh-pages --depth=1
          mike set-default latest --allow-undefined
          mike deploy --push --update-aliases "$VERSION_NO_PATCH" latest
