name: Check docs

on:
  pull_request:
    paths:
    - '**.md'
    - .pyspelling.yml
    - .wordlist.txt
    - mkdocs.yml
    - pyproject.toml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Spellcheck
        uses: rojopolis/spellcheck-github-actions@0.53.0


  run_tests:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: 1

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install requirements
        run: pip install -e .[dev]

      - name: Test docs generation
        run: mkdocs build --clean
